@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');
body{
    font-family: 'Roboto';
    font-size: 15px ;
    margin: 0;
    background-color: #FCFCFC;
    
}
.logo{
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: bold;
    color: #8CBD00;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.titre{
    font-family: 'Roboto';
    font-size: 19px;
    font-weight: bold;
    color: #212121;
    display: flex;
   
    justify-content: center;
    margin-bottom: 45px;
}
.titreAmis{
    margin-bottom: 20px;
}
.liste_tables{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo_profile{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.profile_photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
    
    margin-bottom: 25px;
    background-color: white;
    padding: 8px;
    border-radius: 6px;
    filter: drop-shadow(0px 4px 8px #00000014);
   
}
.petiteCard{
    width: 60vw;
    margin-bottom: 10px;
}
.espacement{
    height: 60px;
    width: 100vW;
}
.liste_amis{
    display: flex;

    height: 200px;
   
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;
    scrollbar-color: rgb(212, 212, 212) #8CBD00;
    scrollbar-width: thin;
}
.nomProfile{
    font-weight: bold;
    font-size: 14px;
}
.informations{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.informations_deux{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.nom_de_profile{

    font-weight: bold;
    font-size: 17px;

}
.infos_table{

    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    font-size: 12px;
    color: grey;
}
.infos_lieux{
    display: flex;
    align-items: center;
    margin-left: 20px;

}
.icon_lieu{
    height: 30px;
}
.icon_fleche_droite{
    margin-left: 6px;
    width: 30px;
}
.bouton_profile{
    display: flex;
    justify-content: space-between;
}
.bouton{
    font-family: 'Roboto';
    font-size: 12px;
}
.bouton_message{
    background-color: white;
    color: #8CBD00;
    border: 2px solid #8CBD00;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.bouton_rejoindre{
    background-color: #8CBD00;
    color: white;
    border: 2px solid #8CBD00;
    padding: 5px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.bouton_inviter{
    background-color: #8CBD00;
    color: white;
    border: none;
    
    padding: 5px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.bouton_voirLaTable{
    background: none;
    color: black;
    border: none;
    text-align: center;
    cursor: pointer;

    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.photo_paulbernier{
    background-image: url('images/profiles/Paul-Bernier.webp');
}
.photo_clementmartin{
    background-image: url('images/profiles/Clement-martin.webp');
}
.photo_ameliedubois{
    background-image: url('images/profiles/Amelie-Dubois.jpeg');
}
.photo_antoinerousseau{
    background-image: url('images/profiles/Antoine-Rousseau.jpeg');
}
.photo_camillelefebvre{
    background-image: url('images/profiles/camille-lefebvre.jpeg');
}
.photo_maximeleclerc{
    background-image: url('images/profiles/Maxime-Leclerc.jpeg');
}
.photo_paulinenguyen{
    background-image: url('images/profiles/pauline-nguyen.jpeg');
}
.photo_louismorceau{
    background-image: url('images/profiles/louismorceau.jpeg');
}
.photo_julieperez{
    background-image: url('images/profiles/julie.webp');
}
.photo_pierre-alexandregirard{
    background-image: url('images/profiles/pierre\ alexandre.webp');
}
.photo_lucie-annedupont{
    background-image: url('images/profiles/lucie-anne.jpeg');
}

.bandeau{
    background-color: #FFF5DC;
    width: 100vw;
    height: 10vh;

    display: flex;
    justify-content: center;

}

.container2{
    width: 85vw;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gaucheBandeau{

    display: flex;
    align-items: center;
}
.infosTable{
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-around;
}
.titreTable{
    font-weight: bold;
    font-size: 32px;
    color: #3F3F3F;
    margin-left: 10px;
}
.infosNTable{
    color: #8CBD00;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.infosNTable>.numeroTable{
    margin-right: 6px;
}
.Npersonne{
    display: flex;
    justify-content: center;
    align-items: center;
}
.placesTable{
    font-weight: bold;
    font-size: 32px;
    color: #3F3F3F;
    margin-left: 8px;
}
.timer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: 300;
    font-size: 14px;
    color: #3F3F3F;
}
.minuteur{
    font-weight: bold;
}
.table{
    display: flex;
    justify-content: center;
}
.container3{
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gerantTable{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}
.NomInviteTable{
    color: #8bbd0086;
    font-size: 14px;
    font-weight: bold;
}
.TableEtInvites{
    display: flex;

    width: 100%;
}

.invitesGauche{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 20%;
}
.inviteDroite{
    display: flex;
    height: 100%;
    width: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inviteBas{
    margin-top: 23px;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.espaceInvite{
    height: 20px;
}
.espaceInvitePlus{
    height: 80px;
}
.invite{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.iconTable{
    width: 60%;
    display: flex;
    justify-content: center;
}
.arrow-container {
    position: relative;
    width: 30px;
    height: 20px;
}
  
  .arrowJaune {
    transform: translate(-50%, -50%);
    animation: arrow-oscillate 1s ease-in-out infinite;
  }

  
  @keyframes arrow-oscillate {
    0% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(-5px);
    }
  }

.arrow-containerBas {
    position: relative;
    width: 18px;
    height: 23px;
}  
  .arrowJauneBas{
    transform: translate(-50%, -50%);
    animation: arrow-oscillate-bas 1s ease-in-out infinite;
  }
  @keyframes arrow-oscillate-bas {
    0% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(-5px);
    }
  }

.bulleMessage{
    height: 77px;
    width: 85vw;
    background-color: #EDEDED;
    border-radius: 20px;
    color: #A7A7A7;
    font-weight: 400;
    font-size: 18px;
    padding-top: 8px;
}
.bulleMessage>span{

    margin-left: 18px;
}
    .message{
        display: flex;
        justify-content: center;
        margin-top: 20px;

    }
    