@media screen and (max-width: 480px){
    body {
        align-items: center;
        margin-top: 30px;
        width: 100vw;
    }
    .container {
        max-width: 100vw;
    }
    .conteneur{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header {
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .identite {
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titre {
        font-size: 30px;
    }
    .sousTitre {
        font-size: 12px;
        letter-spacing: 9px;
    }

    .presentation {
        flex-direction: column;
        justify-content: center;
        margin-top: 150px;
        align-items: center;
    
    }
    .textePresentation {
        width: 80vw;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    .presentationTexte {
        font-size: 13px;
        line-height: 250%;
    }


    .container {
        width: 80%;
    }
    .date {
        font-size: 12px;
    }
    .etude {
        font-size: 13px;
    }
    .nomEcole {
        font-size: 14px;
        font-weight: 600;
    }

    .experiencesPro {
        width: 480px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .partieHaut{
        flex-direction: column;
        width: 100vw;
        align-items: center;
        justify-content: center;
    }
    .partieBas {
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: top;
   }
   .containerDroite {
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        align-items: center;
        margin-top: 0px;
   }
    .card{
        height: fit-content;
        margin-bottom: 80px;
    }
    .textAdd {
        height: 100%;
        opacity: 100%;
    }
    

    .softSkills {
        margin-top: 30px;
    }
    .competencesSoft {
        width: 90vw;
        flex-direction: column;
        align-items: center;
    }
    .competencesSoft>span {
        font-size: 18px;
    }
    .tiret {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 12px;
        font-weight: 300;

    }

    .ligneCardSkills {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .cardHardSkills {
        margin-bottom: 30px;
    }
    .competencesHard {
        justify-content: space-around;
    }


    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .informationContact {
        flex-direction: column;
        align-items: center;
    }
    .adresse{
        margin-bottom: 50px;
        text-align: center;
    }
    .titreCentre {
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    .blockCentre {
        display: flex;

    }

    }