
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    font-family: 'Montserrat';
 	
    cursor: url("img/cursor_plein.png"), pointer;
}
h1{
    font-weight: 500;
}

.container {
    display: flex;
    height: 100vh;
  }
  
  .gauche,
  .droite {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: flex 2s ease;
    text-decoration: none;
  }
  
  .gauche {
    background-color: #292929 ;
    color: white;
  }
  
  .droite {
    background-color: white;
    color: #292929 ;
  }
  
  .gauche:hover {
    flex: 2;
  }
  
  .droite:hover {
    flex: 2;
  }

a {
  cursor: url("img/cursor_plein.png"), pointer;
}

@media screen and (max-width: 480px){

  .container {
    flex-direction: column;
  }
  
  }