@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    font-family: 'Montserrat';
 	background-color: #292929 ;
    cursor: url("img/cursor_plein.png"), pointer;
    display: flex;
    justify-content: center;
}
.cursorPrecis {
    cursor: url("img/cursor_plein_petit.png"),pointer;
    transition-duration: 600ms;
}
.conteneur{

    max-width: 1100px;

}
header {
    display: flex;
    justify-content: space-between;
}
.retour {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 80px;
    text-decoration: none;
}
.retour:hover {
    background-color: rgba(255, 255, 255, 0.28);
}
.retour:hover>.iconRetour {
    margin-top: 10px;
}
.boxArrowBack {
    width: 50px;
    height: 50px;
    background-image: url(img/icons/box-arrow-in-up.svg);
    background-repeat: no-repeat;
}
.iconRetour {
    font-size: 12px;
    font-weight: 600;
    color: white;
}
.titre{
    font-size: 60px;
    font-weight: 900;
    color: white;
    
    display: flex;
    flex-direction: column;
}

.sousTitre{
    font-size: 17px;
    font-weight: 100;
    letter-spacing: 21px;
    color: white;
    margin-top: 15px;
}

.presentation{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;

}
.textePresentation{
    margin-left: 15%;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.presentationTexte {
    font-size: 16px;
}

.souligner{
    height: 4px;
    width: 100px;
    border-radius: 20px;
    background-color: #4945FF;
    margin-top: -15px;
}
.soulapropos{
    width: 85px;
    margin-bottom: 40px;
}

h2{
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
}
p{
    font-size: 16;
    font-weight: 200;
    color: #ffffff;
    line-height: 51px;
}

.cursus{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 140px;
}
.container{
    width: 60%;
    display: flex;
}
.date{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
    
    text-align: center;
    color: white;
    font-size: 16;
    font-weight: 500;

}
.etude{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-left: 20px;

    color: white;
    font-size: 16;
    font-weight: 400;
}
.nomEcole{
    font-size: 18px;
    font-weight: 700;
}

.experiencesPro{
    margin-top: 140px;
}
.carteExperiences{
    margin-top: 50px;
    
}
.card{
    background-color: rgba(255, 255, 255, 0.12);
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    height: 260px;
}
.imageProjet{
    background-color: black;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}
    .imgStarsWars {
        background-image: url(img/projet-star-wars-cover.png);
    }
    .imgWorkEat{
        background-image: url(img/projet-workeat.png);
    }
    .imgStrazerie{
        background-image: url(img/strazzerie-cover.png);
    }
    .imgStagePimento{
        background-image: url(img/agence-pimento.jpeg);
    }

.titreExp{
    padding-right: 15px;
    height: 60px;
}
h3{
    color: #ffffff;
    font-size: 19px;
    font-weight: 600;
}
.textAdd>P{
    line-height: 27px;
}
.textAdd{
    height: 0px;
    opacity: 0%;
}
.card:hover .textAdd{
    height: 100%;
    opacity: 100%;
    transition-duration: 2s;
}
.card:hover{
    height: fit-content;
    transition-duration: 2s;
}
.partieHaut{
    display: flex;
    justify-content: space-between;
    width: 900px;
    
}
.containerDroite{
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin-top: 100px;
}
.partieBas{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.softSkills{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.textViolet{
    color: #4945FF;
}
.competencesSoft>span{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}
.competencesSoft{
    margin-top: 40px;
    display: flex;
    
}
.tiret {
    margin-left: 10px;
    margin-right: 10px;
}
.hardSkills{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.competencesHard{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.ligneCardSkills{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 60px;
}
.cardHardSkills{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: 140px;
    border-radius: 20px;
    background-color: #dbdbdb;
    padding: 15px;
}
.logiciel{
    display: flex;
    align-items: center;

}
.iconLogiciel{
    width: 70px;
}
.nomLogiciel{
    color: #272727;
    font-size: 19px;
    font-weight: 600;
    margin-left: 20px;
}

.descripLogi{
    color: #272727;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.contact{
    margin-bottom: 60px;
}
.informationContact {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.adresse {
    font-weight: 200;
    font-size: 16px;
    color: white;

    display: flex;
    flex-direction: column;
}
.texteGras {
    font-weight: 600;
    margin-bottom: 20px;
}

.ligneContact{
    width: 233px;
    display: flex;

    align-items: center;
    margin-bottom: 20px;
}

.iconEnveloppe {
    color: white;
    width: 30px;
}
.texteContact {
    color: white;
    font-size: 16;
    font-weight: 400;
    margin-left: 10px;
}
p {
    color: white;
}

